<div  [nbSpinner]="loading" nbSpinnerStatus="danger">

<h1 id="title" class="title">Login</h1>
<p class="text-danger sub-title" *ngIf="errorValidation">
  {{error}}
</p>


<form (ngSubmit)="login1()" [formGroup]="loginForm" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
    <input nbInput formControlName="email" fullWidth fieldSize="large" autofocus>
    <small class="text-danger" *ngIf="
    loginForm.get('email').hasError('required') &&
            (loginForm.controls['email'].dirty ||
            loginForm.controls['email'].touched)
          ">
      This field is required.
    </small>
    <small class="text-danger" *ngIf="
        loginForm.get('email').hasError('pattern') &&
          (loginForm.controls['email'].dirty ||
          loginForm.controls['email'].touched)
        ">
      This email is invalid.
    </small>
  </div>
  <div class="form-control-group">
    <span class="label-with-link">
      <label class="label" for="input-password">Password:</label>
    </span>
    <input nbInput formControlName="password" fullWidth name="password" type="password">
    <small class="text-danger" *ngIf="
              loginForm.get('password').hasError('required') &&
                      (loginForm.controls['password'].dirty ||
                      loginForm.controls['password'].touched)
                    ">
      This field is required.
    </small>
    <small class="text-danger" *ngIf="
                  loginForm.get('password').hasError('pattern') &&
                    (loginForm.controls['password'].dirty ||
                    loginForm.controls['password'].touched)
                  ">
      This email is invalid.
    </small>
  </div>

  <div class="form-control-group accept-group">
    <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Remember me</nb-checkbox>
  </div>

  <button nbButton fullWidth status="primary" size="large" [disabled]="submitted || !loginForm.valid"
    [class.btn-pulse]="submitted">
    Log In
  </button>
</form>


<section class="another-action" aria-label="Register">
  Don't have an account? <a class="text-link" routerLink="/auth/register">Register</a>
</section>
</div>
