<nb-card>
    <nb-card-header>Edit Garment</nb-card-header>
    <nb-card-body>
        <form [formGroup]="addGarmentForm">
            <!-- Name -->
            <div class="row">
                <div class="col-6">
                    <div class="mb-4">
                        <label class="form-label" for="f1">Name</label>
                        <input type="text" formControlName="Name" required="" class="form-control" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-4">
                        <label class="form-label" for="f1">Image</label>
                        <input type="file" (change)="onFileSelected($event)" required="" class="form-control" />
                    </div>
                </div>
            </div>
            <!-- Description -->
            <div class="row">
                <div class="col-12">
                    <div class="mb-4">
                        <label class="form-label" for="f1">Description</label>
                        <input type="text" formControlName="Description" required="" class="form-control" />
                    </div>
                </div>
            </div>
            <!-- Brand -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-4">
                        <label class="form-label" for="f1">Brand</label>
                        <input type="text" formControlName="Brand" required="" class="form-control" />
                    </div>
                </div>
                <!-- Price -->
                <div class="col-lg-6">
                    <div class="mb-4">
                        <label class="form-label" for="f1">Price</label>
                        <input type="text" formControlName="Price" required="" class="form-control" />
                    </div>
                </div>
            </div>
            <!-- CategoryId -->
            <div class="row">
                <div class="col-6">
                    <label class="form-label" for="f1">Category</label>
                    <nb-select style="width: auto;margin-left: 15px" [(ngModel)]="CategoryId"  [ngModelOptions]="{standalone: true}" (ngModelChange)="onCategorySelected()" placeholder="Choose here">
                        <nb-option *ngFor="let item of categories" [value]="item.id">{{
                            item.name
                            }}</nb-option>
                    </nb-select>
                </div>
              <!-- Sizes -->
              <div class="col-6">
                  <label class="form-label" for="f1">Sizes</label>
                  <nb-select style="width: auto;margin-left: 15px;"  multiple  [(ngModel)]="sizeIds"  [ngModelOptions]="{standalone: true}"  [disabled]="CategoryId == 0 " placeholder="Multiple Select">
                    <nb-option *ngFor="let item of sizes" [value]="item.id">{{
                        item.name
                    }}</nb-option>
                </nb-select>
                <br>
                <small style="margin-left: 25px;color: red;" *ngIf="CategoryId == 0">Please select category first</small>
            </div>
            </div>
            <hr>
            <!-- Properties    -->
            <div class="row">
                <div class="col-6">
                    <label class="form-label" for="f1">Properties</label>
                    <nb-select style="width: auto;margin-left: 15px;" multiple formControlName="Properties" placeholder="Multiple Select">
                        <nb-option *ngFor="let item of properties" [value]="item.id">{{item.name}}</nb-option>
                    </nb-select>
                </div>
                  <!-- Colors -->
                  <div class="col-6">
                    <label class="form-label" for="f1">Colors</label>
                    <nb-select style="width: auto;margin-left: 15px;" multiple formControlName="Colors" placeholder="Multiple Select">
                        <nb-option *ngFor="let item of colors" [value]="item.id">{{item.name}}</nb-option>
                    </nb-select>
                </div>
                
            </div>
            <hr>
            <button nbButton status="success" (click)="submit()">Add</button>
        </form>
    </nb-card-body>
</nb-card>