:host ::ng-deep {
    ng2-st-actions, ng2-st-tbody-edit-delete, ng2-st-tbody-create-cancel {
        display: flex;
        justify-content: space-evenly;
    }

    ng2-st-tbody-custom {
        display: flex;
        justify-content: space-around;
    }
}

:host ::ng-deep tr .ng2-smart-actions{ display: flex; }

:host ::ng-deep nbng2-st-tbody-custom {display: flex;}

:host ::ng-deep ng2-st-tbody-edit-delete a.ng2-smart-action {display: inline-block !important;}
:host ::ng-deep ng2-st-tbody-create-cancel a.ng2-smart-action {display: inline-block !important;}
:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
    display: inline-block;
    width: 40px;
    margin: 3px;
    text-align: center;
}