<nb-card>
  <nb-card-body>
    <nb-tabset (changeTab)="onEvento($event)" #dd>
      <nb-tab
        *ngFor="let item of cat"
        [tabTitle]="item.cat"
        [badgePosition]="item.id"
      >
        <div class="flex-container">
          <nb-card *ngFor="let item of cat3" class="column-4" status="success">
            <nb-card-body class="no-padding">
              <nb-user
                class="user"
                size="medium"
                name="John Doe"
                title="Engineer"
                color="white"
                picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG"
              >
              </nb-user>
              <img src="../../../assets/images/camera1.jpg" class="img-size" />
            </nb-card-body>
            <nb-card-footer
              ><span style="font-weight: bold">Item Name</span> <br /><span
                style="color: gray"
                >15$</span
              >
              <nb-actions
                size="tiny"
                style="display: inline-flex; margin-left: 100px"
              >
                <nb-action icon="edit" (click)="open(edit)"></nb-action>
                <nb-action icon="trash" (click)="open(delete)"></nb-action>
              </nb-actions>
            </nb-card-footer>
          </nb-card>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
<ng-template #delete let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Are you sure to delete this item?</nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton status="danger" (click)="ref.close()">Delete</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<ng-template #edit let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Edit Item</nb-card-header>
    <nb-card-body>
      <form>
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-4">
              <label class="form-label" for="f1">F1</label>
              <input type="text" required="" class="form-control" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-4">
              <label class="form-label" for="f2">f2</label>
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>

        <hr />
        <button nbButton status="success" (click)="ref.close()">Edit</button>
      </form>
    </nb-card-body>
  </nb-card>
</ng-template>
