.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.column-4 {
  flex: 0 0 30%;
  margin: 14px;
}
.img-size {
  width: 100%;
  height: 100%;
}
.no-padding {
  position: relative;
  padding: 0 !important;
}
.user {
  position: absolute;
  top: 15px;
  left: 15px;
}
.user-name {
  color: white !important;
  font-weight: bold;
}
