<nb-card>
    <nb-card-header>Enter your name</nb-card-header>
    <nb-card-body>

        <form [formGroup]="addGroupForm">
            <div style="margin-bottom: 15px;">
                <input formControlName="name" nbInput placeholder="Name">
            </div>
            <div style="margin-bottom: 15px;">
                <input formControlName="description" nbInput placeholder="description">
            </div>
            <div>
                <select [(ngModel)]="categoryId"  [ngModelOptions]="{standalone: true}" (ngModelChange)="onSelect()">
                    <option *ngFor="let item of categories" [value]="item.id">{{item.name}}</option>
                </select>
            </div>
            <div>
                <!-- <input [(ngModel)]="categorySelectedList"  [ngModelOptions]="{standalone: true}" nbInput placeholder="category"> -->
                <div *ngFor="let item of categorySelectedList"><i class="nb-trash"></i> {{categories.find()}} </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
      <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
      <button nbButton status="success" (click)="submit()" >Submit</button>
    </nb-card-footer>
  </nb-card>
  